<div class="container">
<div class="img-profile"><%= image_tag @user.photo, alt: "User Photo",  class: "img" %></div>
    <div class="profile">
        <div class="profile-info">
            <h2 class="user-name"><%= link_to @user.name, user_path(@user) %></h2>
            <p class="user-posts">Number of posts: <%= @user.posts.count %></p>
        </div>
    </div>
</div>

<% @posts.limit(2).each do |post, index| %>
<div class="post-container">
    <div class="profile">
        <div class="profile-info">
            <h2 class="user-name">Posts </h2>
            <p><%= post.text %></p>
            <p class="count user-posts">Comments: <%= post.comments.count %> | Likes: <%= post.likes.count %></p>
        </div>
    </div>
    <div class="profile">
    <div class="profile-info">
          <% post.recent_comments.each do |comment| %>
            <p><%= link_to comment.user.name, user_path(comment.user)  if comment.user.present? %>: <%= comment.text %></p>
          <% end %>
        </div>
    </div>
</div>
<% end %>
<button class="pagination-button"><%= link_to 'Pagination', user_posts_path(@user), class: 'button' %> </button>
